/* Normal button */

.button {
  padding: 8px 16px;
  color: #fff;
  border: none;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.92;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.64);
}

/* Icon button */

.icon-button {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgb(124, 122, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.34);
  transition: 0.25s;
}

.icon-button:hover {
  opacity: 0.9;
}

.icon-button-clear {
  color: rgb(124, 122, 255);
  background-color: #eee;
}

.icon-button-clear:hover {
  background-color: rgba(124, 122, 255, 0.2);
}
