.homepage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.homepage-sidebar-container {
  width: 350px;
  height: 100%;
  border-right: 1px solid #999;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 100;
  transition: 0.3s ease-out;
}

@media screen and (max-width: 800px) {
  .homepage-sidebar-container {
    position: absolute;
    width: 0;
  }
}

.homepage-chat-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.homepage-chat-null {
  font-size: 45px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homepage-chat-null > span {
  font-size: 120px;
  opacity: 0.3;
}
