.input {
  width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.input__textfield {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 2px 7px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-bottom-color: rgb(124, 122, 255);
  transition: 0.4s;
  outline: none;
  color: #fff;
}

.input__label {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.34);
}

.input__textfield:focus {
  padding: 5px 14px 7px;
  transition: 0.4s;
}

.input__textfield:focus + .input__label {
  color: rgb(124, 122, 255);
}

/* .input-input ~ .input-focus-border {
  position: absolute;
  height: 36px;
  bottom: 0;
  right: 0;
  width: 0;
  transition: 0.4s;
} */
/* .input-input:focus ~ .input-focus-border {
  width: 100%;
  transition: 0.4s;
  border: 2px solid;
  border-color: rgb(124, 122, 255);
} */
