*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #eee;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollbar {
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(124, 122, 255);
  width: 5px;
}
